.home-box {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 25em;
    height: 20em;
    padding: 2.5em;
    overflow: hidden;
    font-family: 'Sunflower', sans-serif;
}

.home-box .icon {
    width: 7.5em;
    height: 7.5em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.home-box .content {
    width: 100%;
    margin-top: 1.25em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home-box .content .head {
    font-size: 2.5em;
}

.home-box .content .body {
    margin-top: 1.25em;
    color: #999;
    font-size: 1.15em;
}