.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, .25);
    font-family: 'Do Hyeon', sans-serif;
}

.carousel-container>.carousel {
    width: 100%;
    height: 100%;
}

.carousel>.carousel-items {
    width: 100%;
    height: 100%;
}

.carousel-items>.carousel-item {
    width: 100%;
    height: 100%;
    background: no-repeat center/cover;
    filter: blur(2px);
    transition-duration: .25s;
    transition-property: background-image;
}

.carousel>.carousel-contents {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel-contents>.carousel-content {
    margin: auto;
    width: 100%;
}

.carousel-contents>.carousel-content>.head {
    color: rgba(255, 255, 255, 1);
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 1.25em;
}

.carousel-contents>.carousel-content>.body {
    color: rgba(255, 255, 255, .95);
    font-size: 2.5em;
    text-align: center;
}

.carousel-contents>.carousel-content>.body * {
    margin: 0 .25em;
}

.carousel>.carousel-control {
    display: flex;
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    font-size: 3em;
    color: rgba(0, 0, 0, .75);
}

.carousel>.carousel-control:hover {
    color: rgba(255, 255, 255, .75);
}

.carousel>.carousel-control.left,
.carousel>.carousel-control.right {
    width: auto;
    padding: 0 1.25em;
}

.carousel>.carousel-control.left {
    left: 0;
}

.carousel>.carousel-control.right {
    right: 0;
}

.carousel>.carousel-control span {
    margin: auto;
    cursor: pointer;
}

.carousel>.carousel-control.indicator {
    font-size: 1em;
}

.carousel-control.indicator>.carousel-panels {
    display: flex;
    z-index: 1;
    margin-top: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control.indicator>.carousel-panels span {
    width: 1em;
    height: 1em;
    margin-left: .5em;
    margin-right: .5em;
    cursor: pointer;
}

.carousel-control.indicator>.carousel-panels>.carousel-panel {
    background: rgba(255, 255, 255, .75);
    border-radius: 1em;
}

.carousel-control.indicator>.carousel-panels>.carousel-panel.active {
    background: rgba(0, 0, 0, .75);
}

.carousel-control.indicator>.carousel-panels>.carousel-start {
    border-style: solid;
    border-width: .5em 0 .5em 1em;
    border-color: transparent transparent transparent rgba(255, 255, 255, .75);
    box-sizing: border-box;
}

.carousel-control.indicator>.carousel-panels>.carousel-stop {
    border-style: double;
    border-width: 0 0 0 1em;
    border-color: rgba(255, 255, 255, .75);
    box-sizing: border-box;
}