.sidebar {
    position: fixed;
    top: .5em;
    left: 3.5em;
    z-index: 9;
    width: 0;
    height: 0;
    height: fit-content;
    border-radius: .5em;
    text-align: left;
    transition: .0s;
    background: #000;
    overflow: hidden;
    transition-duration: .25s;
}

.sidebar.down {
    opacity: 0;
}

.sidebar.true {
    width: fit-content;
    height: fit-content;
    padding: 2.75em .75em .5em .75em;
}

.sidebar.true>.sidebar-container>ol>li {
    display: flex;
    color: rgba(255, 255, 255, .75);
    font-size: 1.5em;
}

.sidebar.true>.sidebar-container>ol>li>a {
    padding: .25rem;
}

.sidebar.false>.sidebar-container {
    opacity: 0;
}

.sidebar>.sidebar-toggle {
    position: fixed;
    top: 1.25em;
    left: 4em;
    width: 1.75em;
    height: 1.5em;
    overflow: hidden;
}

.sidebar>.sidebar-toggle>.bar {
    display: block;
    width: 2em;
    height: .2em;
    background-color: white;
    margin: .45em 0;
    transition: .5s;
}

.sidebar>.sidebar-toggle>.bar:first-child {
    margin-top: 0;
}

.sidebar>.sidebar-toggle>.bar:last-child {
    margin-bottom: 0;
}

.sidebar.true>.sidebar-toggle>.bar:nth-child(1) {
    transform: rotate(-45deg) translate(-.45em, .45em)
}

.sidebar.true>.sidebar-toggle>.bar:nth-child(2) {
    opacity: 0;
}

.sidebar.true>.sidebar-toggle>.bar:nth-child(3) {
    transform: rotate(45deg) translate(-.45em, -.45em)
}

@media screen and (max-width: 720px) {
    .sidebar,
    .sidebar-toggle {
        left: 1.25em !important;
    }
}