.header {
    display: flex;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 8em;
    background: rgba(0, 0, 0, .05);
    transition-duration: .25s;
    font-family: 'Hi Melody', cursive;
}

.header.down {
    opacity: 0;
}

.header .header-logo {
    margin: auto;
    color: #fff;
    font-size: 4.5em;
    line-height: 2;
    text-shadow: 2px 2px #aaa;
}

.header .header-links {
    display: flex;
    position: absolute;
    top: 3em;
    right: 4em;
}

.header .header-links img {
    width: 2em;
    height: 2em;
    margin-right: 1.5em;
}

.header .header-links img:last-child {
    margin-right: 0;
}