@import url('https://fonts.googleapis.com/css?family=Poor+Story|Hi+Melody|Sunflower|Do+Hyeon');

html, body {
    background: white;
}

.page {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 15em);
}

.page>.page-container {
    margin: 0 auto;
    padding-top: 6em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    width: 1024px;
}

@media screen and (max-width: 720px) {
    .page-container {
        width: 100% !important;
        padding-top: 4em !important;
        padding-bottom: 1.25em !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}