.home-box {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 25rem;
    height: 20rem;
    padding: 2.5rem;
    overflow: hidden;
    font-family: 'Sunflower', sans-serif;
}

.home-box .icon {
    width: auto;
    height: 5rem;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.home-box .content {
    margin-top: 1.25rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home-box .content .head {
    font-size: 2.5rem;
}

.home-box .content .body {
    margin-top: 1.25rem;
    color: #999;
    font-size: 1.15rem;
}
